
.input_TXT{
    position: absolute;
        bottom:3px;
        left: 36%;
        right: 50%;
        width: 39vw;
        height: 7vh;
        border-radius: 8px;
    }
    
.btn_submit{
    position: absolute !important;
    bottom: 12px  !important;
    right: 19%  !important;
    border-radius: 20px !important; 
}